In [3]:
#python pandas programs



'''Pandas = Panel Data

single dimensional = Series Object    __>> one dimensional labeld array
Multidimensional = Dataframe   -->> data storedd in rows and columns '''

import pandas as pooja

In [5]:
import pandas as pooja
s1 = pooja.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

In [13]:
#Changing index
import pandas as pooja
s1 = pooja.Series([1,2,3,4,5],index = ["p",'q','r','s','t'])
s1

p    1
q    2
r    3
s    4
t    5
dtype: int64

In [14]:
#pandas Series created from dictionary

import pandas as pooja
pooja.Series({'a':1,'b':2,'c':3})

a    1
b    2
c    3
dtype: int64

In [15]:
#changing index positions
import pandas as pooja
pooja.Series({'a':1,'b':2,'c':3},index = ['d','a','c','b'])

d    NaN
a    1.0
c    3.0
b    2.0
dtype: float64

In [16]:
#extracting elements from Series

'''Extracting Single element'''
import pandas as pooja
s1 = pooja.Series([1,2,3,4,5,6,7,8,9,10])
s1[3]

4

In [17]:
'''Extracting element from back'''
import pandas as pooja
s1 = pooja.Series([1,2,3,4,5,6,7,8,9,10])
s1[-3:]

7     8
8     9
9    10
dtype: int64

In [18]:
'''Extracting sequence of element '''
import pandas as pooja
s1 = pooja.Series([1,2,3,4,5,6,7,8,9,10])
s1[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
# Adding Scalar value 

import pandas as pooja
s1 = pooja.Series([1,2,3,4,5,6,7,8,9,10])
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
9    15
dtype: int64

In [21]:
# Subtracting Scalar value 

import pandas as pooja
s1 = pooja.Series([1,2,3,4,5,6,7,8,9,10])
s1 - 1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [22]:
# Multiplicating Scalar value 

import pandas as pooja
s1 = pooja.Series([1,2,3,4,5,6,7,8,9,10])
s1 * 3

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
9    30
dtype: int64

In [23]:
## SDividing Scalar value 

import pandas as pooja
s1 = pooja.Series([100,200,300,400,500,600,700,800,900,1000])
s1 /100

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [20]:
# Adding two series object
import pandas as pooja
s1 = pooja.Series([1,2,3,4,5,6,7,8,9,10])
s2 = pooja.Series([10,20,30,40,50,60,70,80,90,100])

s1+s2

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    110
dtype: int64

In [24]:
#Creating Dataframe 

import pandas as pooja

pooja.DataFrame({"Name":["Pooja","Maya","Aditya"],"Marks":["48","49","46"]})

     Name Marks
0   Pooja    48
1    Maya    49
2  Aditya    46

In [ ]:
# built in functions in pandas
'''
head()
tail()
shape()
describe()

'''

#completed!